<% if instance.stock_round? %>

  <p>Currently in a stock round. Active player can sell any of their shares, and then buy one share/certificate. They can also pass. Round ends when all players pass consecutively.</p>

  <h3>Active Player's Stocks</h3>

  <h3>Company Stock Available</h3>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Bids/Director</th>
      <th>Comments</th>
      <th></th>
    </tr>
    <% instance.companies.each do |company| %>
      <%= render 'company_stock', company: company, instance: instance %>
    <% end %>
    <tr>
      <td colspan="3"></td>
      <td>
        <% if instance.active_company.nil? %>
          <%= link_to 'Pass', stock_pass_instance_path(instance), class: 'btn btn-primary btn-sm', method: :post %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
