<% if instance.operating_round_1? || instance.operating_round_2? || instance.operating_round_3? %>

  <h3>Market</h3>

  <table class="market-table">
    <% Company::MajorCompany::MARKET.reverse.each_with_index do |row,y| %>
      <tr>
        <% if y < 7 %>
          <td colspan="<%=7-y%>" style="width: <%= 20*(7-y) %>px"></td>
        <% end %>
        <% row.each_with_index do |cell,x| %>
          <% next if cell.nil? %>
          <td colspan="2" class="market-cell">
            <%= cell %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <div class='hexbuttons'>
    <% Company::MajorCompany::MARKET.reverse.each_with_index do |row,y| %>
    <div class='hexr'>
      <% row.each_with_index do |cell,x| %>
      <div class='hexagon'><span title='<%= cell %>'></span></div>
      <% end %>
    </div>
    <% end %>
  </div>

<% end %>
