<p>This is a website for playing <a href="https://boardgamegeek.com/boardgame/183308/18441854">1854</a>. It's in dev right now.</p>

<%= link_to 'List Existing Instances', instances_path, class: 'btn btn-default' %>
<%= link_to 'Create an Instance', new_instance_path, class: 'btn btn-primary' %>
