<p>Hi!</p>

<p>This is a website that will allow you to play 1854. I came back from GenCon 2016 with a copy of
<a href="https://boardgamegeek.com/boardgame/183308/18441854">1844/1854</a>, and after a few plays
through, I realized that this was a game that filled several criteria for games I look for implementing
online in a persistent world. These criteria are</p>

<ol>
  <li>Entirely deterministic (e.g. Chess, Go)</li>
  <li>No hidden information (e.g. private hands of cards)</li>
  <li>Unpractically long playtime</li>
</ol>

<p>To this end, I wanted to implement it online. So here we are. Go create an instance and play.
I didn't bother to implement security, I just wanted to create something that would handle all of
the accounting, speed up gameplay, and also let you replay a game to discuss where mistakes were
made after the game so you can learn from them.</p>

<%= link_to 'List Existing Instances', instances_path, class: 'btn btn-default' %>
<%= link_to 'Create an Instance', new_instance_path, class: 'btn btn-primary' %>
