<% content_for :nav do %>
  <ul class="nav navbar-nav">
    <li><%= link_to 'Back', instance_players_path %></li>
    <%#= link_to 'Edit', edit_instance_player_path(@player) %>
  </ul>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Instance:</strong>
  <%= @player.instance %>
</p>
