// Place all the styles related to the Instances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//https://codepen.io/elbarto84/pen/wrcob

.market-table {
  table-layout: fixed;
  width: 900px;
}

.market-cell {
  height: 35px;
  width: 40px;
  font-size: xx-small;
  background-color: lightgoldenrodyellow;
  border: 1px solid palegoldenrod;
  overflow: hidden;
  text-align: center;
}
