// Place all the styles related to the Tile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-cell {
  pointer-events: visiblePainted;
  stroke: hsla(0, 0%, 0%, 0.2);
  stroke-width: 0.5;

  .track-contents {
    fill: none;
    .track {
      stroke-width: 4;
      stroke: #000000;
    }
  }

  .tile-city {
    stroke-width: 1;
    stroke: black;
    fill: white;
  }

  .city-border {
    stroke-width: 1;
    stroke: black;
    fill: white;
  }
}

.map-cell:hover {
  fill: #b3cde3;
}

.map-cell {
  #fill: #f7fcf0;
  fill: #e5d8bd;
}

.map-yellow {
  #fill: #e0f3db;
  fill: #ffffcc;
}

.map-green {
  #fill: #ccebc5;
  fill: #ccebc5;
}

.map-brown {
  #fill: #a8ddb5;
  fill: #fed9a6;
}

.map-grey {
  #fill: #7bccc4;
  fill: #f2f2f2;
}

.map-red {
  fill: #fbb4ae;
}

